$light: #fff;
$primary-color:#1B80BF;
$secondary-color: #1EA4D9;
$black: #222;
$black-light: #3f4451;
$black-lighter: #888;
$border-color:#eee;
$primary-font: 'Lato',
sans-serif;
$secondary-font:'Lato',
sans-serif;
$gray : #f7fdfc;